# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Environment
.env
.venv/
env/
venv/

# VSCode / IDEs
.vscode/
.idea/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/
